<h1>Editing Photographer</h1>

<%= render 'form', photographer: @photographer %>

<%= link_to 'Show', @photographer,class:"btn btn-info" %> |
<%= link_to 'Back', photographers_path,class:"btn btn-info" %>
